{% load django_bootstrap5 %}

<form method="post" id="delete_team_sport_ml_form">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">Διαγραφή Μαθητή</h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <p>
                        Ο Μαθητής
                        <code>(ΑΜ: {{data.registry_no}}) {{data.last_name}} {{data.first_name}}</code>
                        θα διαγραφεί.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <i class="bi-arrow-left-circle" aria-hidden="true"></i>&nbsp;Άκυρο
        </button>
        <button type="submit" class="btn btn-danger" name="submit" value="Submit">
            <i class="bi-trash" aria-hidden="true"></i>&nbsp;Διαγραφή
        </button>
    </div>
</form>
