{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <style type='text/css'>
        @page {
            size: A4 landscape;
            margin: 1cm;
        }

        *, html {
            font-family: Arial;
            font-size: 12px;
        }

        body {
            padding: 10pt;
        }

        .table-bordered {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 4px;
            font-family: Arial;
            font-size: 10px;
        }

        div.break {
            page-break-before: always;
        }
    </style>
    <title>{{ title }}</title>
</head>
<body>
{% for isgroup in isgroup_dicts_list %}
    {% if forloop.counter != 1 %}
        <div class="break"></div>
    {% endif %}
    {% if isgroup.data_boys %}
        {% if preview == 'True' %}
            <h1>ΠΡΟΕΠΙΣΚΟΠΗΣΗ</h1>
        {% endif %}

        <table style="text-align: center; width: 100%">
            <tbody>
            <tr>
                <td style="text-align: center; width: 5%">&nbsp;</td>
                <td>
                    <strong>
                        {% if app_state_mode == 'Σχολικά Πρωταθλήματα' %}
                            ΠΑΝΕΛΛΗΝΙΟΙ ΑΓΩΝΕΣ ΛΥΚΕΙΩΝ ΣΧ. ΕΤΟΥΣ {{ school_year }}
                        {% else %}
                            ΑΓΩΝΕΣ ΑθλοΠΑΙΔΕΙΑΣ ΣΧ. ΕΤΟΥΣ {{ school_year }}
                        {% endif %}
                    </strong>
                </td>
                {% if app_state_mode == 'Σχολικά Πρωταθλήματα' %}
                    <td class="table-bordered" style="text-align: center; font-size: 14px; width: 5%"> 2</td>
                {% else %}
                    <td class="table-bordered" style="text-align: center; font-size: 14px; width: 5%"> 7α</td>
                {% endif %}
            </tr>
            </tbody>
        </table>

        <p>
            Τίτλος Σχολείου: {{ school }}
        </p>
        <p style="text-align: center;">
            {% if app_state_mode == 'Σχολικά Πρωταθλήματα' %}
                {#                ΚΑΤΑΣΤΑΣΗ ΣΥΜΜΕΤΟΧΗΣ ΣΤΟΝ ΣΤΙΒΟ (Αγόρια)#}
                ΚΑΤΑΣΤΑΣΗ ΣΥΜΜΕΤΟΧΗΣ ΣΤΟ ΑΤΟΜΙΚΟ ΑΘΛΗΜΑ: {{ isgroup.sport }} (Αγόρια)
            {% else %}
                ΚΑΤΑΣΤΑΣΗ ΣΥΜΜΕΤΟΧΗΣ ΣΤΟ ΑΤΟΜΙΚΟ ΑΘΛΗΜΑ: {{ isgroup.sport }} (Αγόρια)
            {% endif %}
        </p>

        <table class="table-bordered" style="text-align: center; width: 100%">
            <thead>
            <tr>
                <td class="table-bordered" style="text-align: center; width: 5%">Α/Α</td>
                <td class="table-bordered">Επώνυμο</td>
                <td class="table-bordered">Όνομα</td>
                <td class="table-bordered">Όνομα Πατέρα</td>
                <td class="table-bordered">Όνομα Μητέρας</td>
                <td class="table-bordered">Έτος Γέννησης</td>
                <td class="table-bordered">Αρ. Μητρώου</td>
                <td class="table-bordered">Τάξη</td>
                <td class="table-bordered">Αγώνισμα</td>
                <td class="table-bordered">Φύλο</td>
                {% if app_state_mode != 'Σχολικά Πρωταθλήματα' %}
                    <td class="table-bordered">Α.Δ.Υ.Μ.</td>
                {% endif %}
                <td class="table-bordered">Υπεύθυνη Δήλωση<br>Γονέα</td>
            </tr>
            </thead>
            <tbody>
            {% for student in isgroup.data_boys %}
                <tr>
                    <td class="table-bordered" style="text-align: center">{{ forloop.counter }}</td>
                    <td class="table-bordered">{{ student.last_name }}</td>
                    <td class="table-bordered">{{ student.first_name }}</td>
                    <td class="table-bordered">{{ student.father_name }}</td>
                    <td class="table-bordered">{{ student.mother_name }}</td>
                    <td class="table-bordered">{{ student.year_of_birth }}</td>
                    <td class="table-bordered">{{ student.registry_no }}</td>
                    <td class="table-bordered">{{ student.school_class }}</td>
                    <td class="table-bordered">{{ student.individual_sport_list.individual_sport }}</td>
                    <td class="table-bordered">{{ student.gender }}</td>
                    {% if app_state_mode != 'Σχολικά Πρωταθλήματα' %}
                        <td class="table-bordered">NAI</td>
                    {% endif %}
                    <td class="table-bordered">NAI</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table style="text-align: center; width: 100%; padding-top: 24px">
            <tbody>
            <tr>
                <td style="text-align: center; width: 33%">&nbsp;</td>
                <td style="text-align: center; width: 33%">&nbsp;</td>
                <td style="text-align: center; padding-top: 24px; width: 34%">{{ isgroup.submit_date }}</td>
            </tr>
            <tr>
                <td style="text-align: center; width: 33%">Συνοδός Καθηγητής ορίζεται
                    ο/η: <br> {{ isgroup.pt_teacher }}</td>
                <td style="text-align: center; width: 33%">&nbsp;</td>
                <td style="text-align: center; width: 34%">Ο/Η Διευθυντής/τρια<br>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    {% endif %}

    {% if isgroup.data_boys and isgroup.data_girls %}
        <div class="break"></div>
    {% endif %}

    {% if isgroup.data_girls %}
        {% if preview == 'True' %}
            <h1>ΠΡΟΕΠΙΣΚΟΠΗΣΗ</h1>
        {% endif %}

        <table style="text-align: center; width: 100%">
            <tbody>
            <tr>
                <td style="text-align: center; width: 5%">&nbsp;</td>
                <td>
                    <strong>
                        {% if app_state_mode == 'Σχολικά Πρωταθλήματα' %}
                            ΠΑΝΕΛΛΗΝΙΟΙ ΑΓΩΝΕΣ ΛΥΚΕΙΩΝ ΣΧ. ΕΤΟΥΣ {{ school_year }}
                        {% else %}
                            ΑΓΩΝΕΣ ΑθλοΠΑΙΔΕΙΑΣ ΣΧ. ΕΤΟΥΣ {{ school_year }}
                        {% endif %}
                    </strong>
                </td>
                {% if app_state_mode == 'Σχολικά Πρωταθλήματα' %}
                    <td class="table-bordered" style="text-align: center; font-size: 14px; width: 5%"> 2</td>
                {% else %}
                    <td class="table-bordered" style="text-align: center; font-size: 14px; width: 5%"> 7α</td>
                {% endif %}
            </tr>
            </tbody>
        </table>

        <p>
            Τίτλος Σχολείου: {{ school }}
        </p>
        <p style="text-align: center;">
            {% if app_state_mode == 'Σχολικά Πρωταθλήματα' %}
                {#                ΚΑΤΑΣΤΑΣΗ ΣΥΜΜΕΤΟΧΗΣ ΣΤΟΝ ΣΤΙΒΟ (Κορίτσια)#}
                ΚΑΤΑΣΤΑΣΗ ΣΥΜΜΕΤΟΧΗΣ ΣΤΟ ΑΤΟΜΙΚΟ ΑΘΛΗΜΑ: {{ isgroup.sport }} (Κορίτσια)
            {% else %}
                ΚΑΤΑΣΤΑΣΗ ΣΥΜΜΕΤΟΧΗΣ ΣΤΟ ΑΤΟΜΙΚΟ ΑΘΛΗΜΑ: {{ isgroup.sport }} (Κορίτσια)
            {% endif %}
        </p>

        <table class="table-bordered" style="text-align: center; width: 100%">
            <thead>
            <tr>
                <td class="table-bordered" style="text-align: center; width: 5%">Α/Α</td>
                <td class="table-bordered">Επώνυμο</td>
                <td class="table-bordered">Όνομα</td>
                <td class="table-bordered">Όνομα Πατέρα</td>
                <td class="table-bordered">Όνομα Μητέρας</td>
                <td class="table-bordered">Έτος Γέννησης</td>
                <td class="table-bordered">Αρ. Μητρώου</td>
                <td class="table-bordered">Τάξη</td>
                <td class="table-bordered">Αγώνισμα</td>
                <td class="table-bordered">Φύλο</td>
                {% if app_state_mode != 'Σχολικά Πρωταθλήματα' %}
                    <td class="table-bordered">Α.Δ.Υ.Μ.</td>
                {% endif %}
                <td class="table-bordered">Υπεύθυνη Δήλωση<br>Γονέα</td>
            </tr>
            </thead>
            <tbody>
            {% for student in isgroup.data_girls %}
                <tr>
                    <td class="table-bordered" style="text-align: center">{{ forloop.counter }}</td>
                    <td class="table-bordered">{{ student.last_name }}</td>
                    <td class="table-bordered">{{ student.first_name }}</td>
                    <td class="table-bordered">{{ student.father_name }}</td>
                    <td class="table-bordered">{{ student.mother_name }}</td>
                    <td class="table-bordered">{{ student.year_of_birth }}</td>
                    <td class="table-bordered">{{ student.registry_no }}</td>
                    <td class="table-bordered">{{ student.school_class }}</td>
                    <td class="table-bordered">{{ student.individual_sport_list.individual_sport }}</td>
                    <td class="table-bordered">{{ student.gender }}</td>
                    {% if app_state_mode != 'Σχολικά Πρωταθλήματα' %}
                        <td class="table-bordered">NAI</td>
                    {% endif %}
                    <td class="table-bordered">NAI</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table style="text-align: center; width: 100%; padding-top: 24px">
            <tbody>
            <tr>
                <td style="text-align: center; width: 33%">&nbsp;</td>
                <td style="text-align: center; width: 33%">&nbsp;</td>
                <td style="text-align: center; padding-top: 24px; width: 34%">{{ isgroup.submit_date }}</td>
            </tr>
            <tr>
                <td style="text-align: center; width: 33%">Συνοδός Καθηγητής ορίζεται
                    ο/η: <br> {{ isgroup.pt_teacher }}</td>
                <td style="text-align: center; width: 33%">&nbsp;</td>
                <td style="text-align: center; width: 34%">Ο/Η Διευθυντής/τρια<br>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endfor %}
</body>
</html>
